@import "tailwindcss";
@import "reactflow/dist/style.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#dice-box {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#dice-box canvas {
  width: 100%;
  height: 100%;
}

.dice-shine::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  mix-blend-mode: overlay;
  opacity: 0.7;
  pointer-events: none;
}

.dice-shine:hover::after {
  opacity: 1;
}
